// basic colors
@color-white: #ffffff;
@color-black: #333333;
@color-purple: #28223c;
@color-blue: #00b2ca;
@color-black-footer: #2e3234;
@color-box-background: #f3f5f7;
@color-footer-text: #b8b8b8;

// lighten colors
@color-black-lighten: lighten(hsl(0%, 0%, 20%), 27%);
@color-blue-lighten: lighten(hsl(187, 100%, 40%), 10%);

// lighter colors
@color-black-light: lighten(hsl(0%, 0%, 20%), 40%);
@color-black-lighter: lighten(hsl(0%, 0%, 20%), 60%);

// lightest colors
@color-black-lightest: lighten(hsl(0%, 0%, 20%), 75%);
@color-blue-lightest: lighten(desaturate(spin(@color-blue, 3.7804), 38.8889), 53.3333);

// darker colors
@color-blue-darken: darken(hsl(187, 100%, 40%), 2%);

// darkest colors
@color-blue-darkest: darken(hsl(187, 100%, 40%), 5%);