@font-open-sans: 'Open Sans', sans-serif;
@font-roboto-slab: 'Roboto Slab', serif;
@font-icons: "FontAwesome";

@font-size-base: 14px;
@font-size-megaxl: ceil(@font-size-base * 2.5); // 35px
@font-size-xxxl: ceil(@font-size-base * 2); // 28px
@font-size-xxl: ceil(@font-size-base * 1.57); // 22px
@font-size-xl: ceil(@font-size-base * 1.25); // 18px
@font-size-lg: ceil(@font-size-base * 1.14); // 16px
@font-size-md: ceil(@font-size-base * 0.9); // 13px
@font-size-sm: ceil(@font-size-base * 0.85); // 12px
@font-size-xs: ceil(@font-size-base * 0.675); // 10px

@font-color: @color-purple;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-semi-bold: 600;
@font-weight-bold: 700;

@font-style-italic: italic;

@screen-sm-min: 768px;
@screen-sm-max: 767px;
@screen-md-min: 992px;
@screen-md-max: 991px;
@screen-lg-min: 1200px;
@screen-lg-max: 1199px;