.box {
  background-color: transparent;

  .box-heading {
    color: @color-black-lighter;
    padding-bottom: 20px;
  }

  .box-body {
    border: 2px solid @color-black-lighter;
    padding: 20px;

    h4 {
      font-family: @font-roboto-slab;
      color: @color-black-lighter;
      font-weight: @font-weight-bold;
      font-size: @font-size-lg;
    }

    p {
      color: @color-black-light;
    }
  }
}