.nav-check {
  li:before {
    content: "\f058";
    display: inline-block;
    font-family: @font-icons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 7px;
    color: inherit;
  }
}

.nav-inline {
  li {
    margin: 0 10px;
    display: inline-block;
  }

  li:first-child {
    margin-left: 0;
  }

  li:last-child {
    margin-right: 0;
  }
}

.nav-vertical {
  li {
    padding: 12px 0;
  }
}

.nav-pills {
  > li {
    &.active > a {
      color: @color-white;
      background-color: @color-blue;
      border-color: @color-blue;

      &:hover, &:focus {
        background-color: @color-blue-lighten;
      }
    }
  }
}

.nav-stacked-default {
  li a {
    background-color: transparent;
    border: 1px solid @color-black-lighter;
    color: @color-black;
    font-size: 13px;
    font-weight: 700;
    margin: 20px 0;
    border-radius: 8px;
  }
}