.panel-group {
  text-align: left;
  margin: 20px 0;
}

.panel-section {
  background-color: @color-black-lightest;
  padding: 20px;
  color: @color-black-light;
  min-height: 150px;
  position: relative;

  .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  ul {
    margin-top: 10px;
    text-align: left;
  }

  h3 {
    margin: 0;
    font-size: @font-size-xxxl;
    float: right;
    font-family: @font-roboto-slab;
    text-align: left;
  }

  .fa {
    text-align: center;
    color: @color-black-light;
  }

  a > span.fa {
    margin-right: 10px;
  }

  .nav.nav-icons > li {
    margin: 5px 3px;
  }

  @media (max-width: @screen-sm-max) {
    h3 {
      float: none;
    }

    h3, ul {
      text-align: center;
    }
  }
}

.panel {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-default>.panel-heading {
  color: @color-black-lighten;
  position: relative;
  background: @color-box-background none no-repeat;
}

.panel-title {
  font-size: @font-size-md;
  font-weight: @font-weight-semi-bold;
  margin-right: 20px;
  line-height: 1.45;
}

.panel-heading:before {
  content: '\f055';
  color: @color-black-light;
  font-family: @font-icons;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
  border: 1px solid #ddd;
}

.panel-body {
  color: @color-black-lighten;
  font-size: @font-size-sm;
  line-height: 2;
}