.plan-box {
  background-color: @color-box-background;
  padding: 40px 20px;

  .plan-box-heading {
    color: @color-black-light;

    h4 {
      font-family: @font-roboto-slab;
      font-weight: @font-weight-bold;
      margin-top: 15px;
    }
  }
}